<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <Link type="text/css" rel="stylesheet" href="style.css"></Link>
    <title>About</title>
    {{> Navigation}}
</head>
<body>
    <div>
         <img src="LV.jpg" style="width:350px;height:400px;">
    </div>
    <p>{{LoremIpsum}}</p>
    <p>{{LoremIpsum}}</p>
  
</body>
  {{> footer}}
</html>