h1{
    color:red;
}
footer{
    color:orangered;
    font-size: 35px;
}
title{
    color: blue;
}
p{
    color: purple;
    font-size: 22px;
    font-style: italic;
}
Navigation
{
    color: orangered;
}
junk{
    color:green;
    font-size: 28px;
}